<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentConstructor" class="com.example.entity.Student">
        <constructor-arg value="1"/>
        <constructor-arg value="John"/>
        <constructor-arg value="Java"/>
        <constructor-arg value="2025"/>
    </bean>

    <bean id="studentSetter" class="com.example.entity.Student">
        <constructor-arg value="2"/>
        <constructor-arg value="Alice"/>
        <constructor-arg value=""/>
        <constructor-arg value=""/>
        <property name="course" value="Python"/>
        <property name="year" value="2024"/>
    </bean>

</beans>
